In [1]:
# import libraries
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
#read dataset
df = pd.read_csv('energydata_complete.csv')
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [4]:
#From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius(X=T2)and
#the temperature outside the building (y=T6) What is the R^2 in two d.p
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

X = df['T2'].values.reshape(-1, 1)
y = df['T6'].values

# Split the data into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

# Calculate the R^2 value
r2 = r2_score(y_test, y_pred)

# Print the R^2 value rounded to two decimal places
print("R^2 value:", round(r2, 2))

R^2 value: 0.64

In [8]:
#Normalize the dataset using the MinMaxScaler after removing the following columns:["date","lights"].The target variable
#is "Appliances".Use a 70-30 train-test-split with a random state of 42(for reproducibility).Run a multiple linear regression
#using the traning set and evaluate your model on the test set. calaculate the mean absolute error(in 2 d.p)

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error

# Remove columns
data = df.drop(["date", "lights"], axis=1)

# Normalize the dataset using MinMaxScaler and convert to dataframe
scaler = MinMaxScaler()
normalised_data=pd.DataFrame(scaler.fit_transform(data),columns=data.columns)

X = normalised_data.drop(["Appliances"],axis = 1)
y = normalised_data.Appliances

# Split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Create and fit the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)

# Print the Mean Absolute Error
print("Mean Absolute Error: {:.2f}".format(mae))

Mean Absolute Error: 0.05

In [9]:
#what is the residual sum of squares in 2 d.p
from sklearn.metrics import mean_squared_error

# Calculate the Residual Sum of Squares
rss = mean_squared_error(y_test, y_pred) * len(y_test)

# Print the Residual Sum of Squares rounded to two decimal places
print("Residual Sum of Squares: {:.2f}".format(rss))

Residual Sum of Squares: 45.35

In [10]:
#what is the root mean squared error in 3d.p
mse= mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)
print('Root mean squared error:',round(rmse, 3))

Root mean squared error: 0.088

In [13]:
#what is the coefficient of determination in 2d.p
from sklearn.metrics import r2_score
cod = r2_score(y_test,y_pred)
print('Coefficient of Determination: {:.2f}'.format(cod))

Coefficient of Determination: 0.15

In [19]:
# Obtain the feature weights from the linear model. which of the features have the highest and lowest weight respectively
feature_weights = pd.DataFrame({'Feature': data.drop(columns=['Appliances']).columns, 'Weight': model.coef_})

# Sorting the the feature weights in ascending order
feature_weights_sorted = feature_weights.sort_values('Weight')

# Get the feature with the lowest weight
lowest_weight_feature = feature_weights_sorted.iloc[0]['Feature']

# Get the feature with the highest weight
highest_weight_feature = feature_weights_sorted.iloc[-1]['Feature']

# Print the features with the lowest and highest weights
print('Feature with lowest weight:',lowest_weight_feature )
print('Feature with highest weight:',highest_weight_feature)

Feature with lowest weight: RH_2
Feature with highest weight: RH_1

In [25]:
#Train a ridge regression model with an alpha value of 0.4.Is there any change to the root mean squared error (RSME) when evaluated on the test set
from sklearn.linear_model import Ridge

# Train a ridge regression model
ridge_model = Ridge(alpha=0.4)
ridge_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred2 = ridge_model.predict(X_test)

mse2 = mean_squared_error(y_test,y_pred2)
rmse2 = np.sqrt(mse)

#print the RSME 
print('Root mean squared error for ridge_model:',round(rmse2, 3))
print('Root mean squared for linear_model:',round(rmse, 3))
print('The difference between the rmse is:',round(rmse - rmse2, 3))

Root mean squared error for ridge_model: 0.088
Root mean squared for linear_model: 0.088
The difference between the rmse is: 0.0

In [35]:
#Train a lasso regression with an alpha value of 0.001 and obtain the new feature weights with it. How many features have non-zero feature weights 
from sklearn.linear_model import Lasso

# Train a Lasso regression model
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(X_train, y_train)

# Obtain the feature weights
feature_weights = pd.DataFrame({'Feature': data.drop(columns=['Appliances']).columns, 'Weight': lasso_model.coef_})
feature_weights

# Count the number of features with non-zero weights
num_non_zero_weights = np.count_nonzero(feature_weights['Weight'])




# Print the number of features with non-zero weights
print("Number of features with non-zero weights:",num_non_zero_weights)

Number of features with non-zero weights: 4

In [36]:
#What is the new RSME with the lasso regression(in 3d.p)

# Make predictions on the test set
y_pred3 = lasso_model.predict(X_test)

# Calculate the RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred3))

# Print the RMSE with three decimal places
print("RMSE: {:.3f}".format(rmse))

RMSE: 0.094